.bodyDark{
    background-color: black;
    color: white;
}
.bodyLight{
    background-color: white;
    color: black;
}


#themeB{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    left: 40%;
    text-align: center;
}
#themeB:hover{
    background-color: gray;
    transition: all 1s;
}

#newPageBadge{
    height: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.newPage{
    background-color: white;
    color: white;
    background-color: rgb(192, 142, 60);
    border: 2px solid yellow;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    font-size: 2em;
}

h1{
    color: white;
}

h2{
    color: white;
}


.cList{
    color: peru;
    height: 100%;
    width: 100%;
}

