*{  font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    border: border-box;
    text-wrap: nowrap;
    text-decoration: none;
}

#hidden-nav{
    height: 60px;
    background-color: #222f3d;
}
.navbar{
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #0f1111;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    border-color: #222f3d;
    background-clip: border-box;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}



#logo{
    height: 52px;
    margin-left: 8px;
    align-self: flex-start;
}


/* Box-2 of navigation */
.nav-location{
    height: 50px;
    width: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#deliver_to{
    padding-left: 20px;
    color: #cccccc;
    font-size: 14px;
}
#loc-icon-div{
    height: 50px;
    display: flex;
}
#country{
    color: white;
    align-self: center;
    padding-left: 6px;
    font-size: 16px;
}
#loc-icon{transition: all 0.5s ease-in-out;}
#loc-icon:hover{transform: rotateY(180deg);}



/* Box-3 of Navigation */
.search_bar{
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    border-radius: 4px;
    flex-grow: 1;
}
.search_bar:hover{
    border: 2px solid #febd68;
}

#Category_selection{
    width: 50px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #eeeeee;
    text-align: center;
}
#search_box{
    height: 40px;
    background-color: white;
    text-indent: 8px;
    flex-grow: 1;
    font-size: .8rem;
    font-family:'Lucida Sans';
    font-weight: 400;
    outline: none;
}
#search_icon{
    background-color: #febd68;
    height: 40px;
    width: 50px;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Box-4 of Navigation */
.nav-det1{
    margin-left: 30px;
    font-size: 0.7rem;
    color: #eeeeee;
}
.nav-det2{
    margin-left: 20px;
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
}
.cart{
    display: flex;
    margin-left: 20px;
}
.cartxt{
    align-self: flex-end;
    color: white;
    font-size: .8rem;
    font-weight: 700;
    padding-right: 10px;
}

/* Bottom Navegation Bar */
.navbar-l{
    height: 30px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
}
#All_in_nav{
    margin-left: 30px;
    text-wrap: nowrap;

}
.bnav-list{
    margin-left: 20px;
    display: flex;
    width: 100%;
    font-size: 0.9rem;}
.bnav-list p{margin-left: 10px; color: white;;} 

#end_nav{
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 20px;
}



/* Hero image */
.hero-img{
    background-image: url(hero_image.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 1s ease-in-out;
}
.hero-img:hover{background-image: url(hero_image1.jpg);}

.hero-txt{
    background-color: #f5f6f6;
    color: #0f1111;
    opacity: .75;
    margin: 20px;
    
}
.hero-txt p{
    font-size: .85rem ;
    text-wrap: wrap;
    margin: 5px 10px 5px 10px;
}
.hero-txt a{color: #007185;}



/* Shop Section @main content */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.shop-box{
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 0px 15px;
    border: 1px solid black;
    box-shadow: 2px 4px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

.shop-box div{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.shop-box-with4{
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 0px 15px;
    border: 1px solid black;
    box-shadow: 2px 4px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}
#div-with4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#div-with4 p{
    font-size: 14px;
    margin-top: 5px;
    color: black
}






/* Footer */

.back2top{
    height: 50px;
    background-color: #37475a;
    font-size: 0.85rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back2top:hover {background-color: #3c4b5e;}

.midfoot{
    background-color: #222f3d;
    display: flex;
    justify-content: space-around;
}

.flinks{
    display: flex;
    flex-direction: column;
    margin: 10PX;
    font-size: .85rem;
}

.flinks a{color: #dddddd; margin: 5px;}
.flinks h3{color: white; margin: 5px;}


#midfoot-ending{
    height: 80px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 2px solid #37475a ;
}


.endbarl1{
    height: 30px ;
    background-color: #131a22;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #DDDDDD;
    font-size: .8rem;
    padding-top: 10px;
}


/* Interface Design and compatibility */
.border{border: 2px solid transparent;}
.border:hover{  border: 2px solid white;
                border-radius: 4px;
                transform: translateY(1px);}




@media (max-width: 1000px) {
    .shop-section{ width: 1000px; }
    .hero-img{ width: 1000px; }
    .navbar-l{ width: 1000px; }
    .navbar{ position: relative;}
    #hidden-nav{ width: 1000px;}
    .back2top{ width: 1000px;}
    .midfoot{ width: 1000px;}
    .midfoot-ending{ width: 1000px;}
}
